# coding: utf-8

{{>partial_header}}

from fastapi import FastAPI
from fastapi.middleware.cors import CORSMiddleware

{{#apiInfo}}
{{#apis}}
from {{apiPackage}}.{{classFilename}} import router as {{classname}}Router
{{/apis}}
{{/apiInfo}}

app = FastAPI(
    title="{{appName}}",
    description="{{appDescription}}",
    version="{{appVersion}}",
    docs_url="/",
)
origins = [
    "http://localhost:80",
    "http://localhost:5173",
]

app.add_middleware(
    CORSMiddleware,
    allow_origins=origins,
    allow_credentials=True,
    allow_methods=["*"],
    allow_headers=["*"],
)

{{#apiInfo}}
{{#apis}}
app.include_router({{classname}}Router)
{{/apis}}
{{/apiInfo}}
